# PostgreSQL analítico
ANALYTICS_DB_HOST=localhost
ANALYTICS_DB_PORT=5435
ANALYTICS_DB_NAME=estoque_analytics
ANALYTICS_DB_USER=analytics_user
ANALYTICS_DB_PASSWORD=analytics_password

# Kafka acessado pelos processos Python no host
KAFKA_BOOTSTRAP_SERVERS=localhost:19090
KAFKA_GROUP_ID=estoque-analytics-consumer

# Redis
REDIS_HOST=localhost
REDIS_PORT=6379
REDIS_DB=0

# Tópicos CDC
CDC_TOPIC_PREFIX=estoque
REABASTECIMENTO_TOPIC=reabastecimento

# Regras analíticas
ESTOQUE_MINIMO=20
QUANTIDADE_REABASTECIMENTO=100